.jumbotron {
  background-color: #63ce9e ;
  box-shadow: 5px 5px 6px #424945;
}

.jumbotron h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 8em;
}

body {
  background-color: #ffe27a ;
}


.well {
  margin-top: 20px;
  display: none;
  background-color: #7db4db;
}

#formBtn {
  width: 50%;
  float: left;
}

#infoApp {
  background-color: #caccc5;
  padding: 20px;
  width: 40%;
  float: right;
  border-radius: 10%;
}


/*Media Query*/

@media screen and (max-width : 500px) {

  #infoApp {
    display: none;
  }

  #formBtn {
    float: none;
    width: auto;
  }
}
