.jumbotron {
  background-color: #63ce9e ;
  text-align: center;
}
body {
  background-color: #ffe27a ;
}


.well {
  margin-top: 20px;
  display: none;
  background-color: #7db4db;
}

#formBtn {
  width: 50%;
  float: left;
}

#infoApp {
  background-color: #caccc5;
  padding: 20px;
  width: 40%;
  float: right;
}


/*Media Query*/

@media screen and (max-width : 480px) {
  #infoApp {
    display: none;
  }

  #formBtn {
    float: none;
    width: auto;
  }
}
